
#form { 
 float:         left;
 margin-right:  20px;
 margin-bottom: 20px;
 padding:       20px;
 border:        1px solid #999;
}

#info {
 display:       none;
 float:         left;
 padding:       20px;
 margin-bottom: 20px;
 border:        1px solid #999;
}


#error {
 display: none;
 float:   left;
 padding: 20px;
 border:  1px solid #999;
}

#error_msg {
  color: red;
}


/* Radio buttons */

.rb_label_div {
  float: left;
  width: 170px;
}

.rb_input_div {
  float: left;
}
.rb_input_div > input {
  float: left;
  width: 20px !important;
  margin-right: 20px !important;
}



/* Text fields */

#comment_div,
#fname_div,
#lname_div {
  display: none;
}

#opt_licensnummer {
 display: none;
}


.label_div {
  float: left;
  width: 120px;
}


.input_div {
  float: left;
}
.input_div > input,
.input_div > textarea {
  width: 240px !important;
}


.input_div_small {
  float: left;
}
.input_div_small > input {
  float: left;
  width: 100px !important;
  margin-right: 20px !important;
}
.input_div_small > p {
  float: left;
  width: 120px !important;
  margin: 0 !important;
}



/* Submit button */

.button_div {
  float:       left;
  width:       240px !important;
  padding-top: 20px;
}


