
/****************************************************/
/* Calendar                                         */
/****************************************************/

#calendar_box {
  float:            left;
  margin:           0px;
  margin-right:     20px;
  margin-bottom:    20px;
  padding:          0px; 
}

#calendar_info {
  clear:       both;
  margin-left: 50px;
}



/****************************************************/
/* Scheduling                                       */
/****************************************************/

.form_div {
  float:              left;
  width:              auto;
  height:             auto;
  margin:             0px;
  padding:            10px;
  background-color:   #f8f8f8;
  border:             1px solid #aaaaaa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;
}



/* --- Step 1 --- */

#step_1 {
}



/* --- Step 2 --- */

#step_2 {
  display: none;
}

#step_2 ul {
  margin: 0; 
}

#step_2 ul div {
  float: left;
}


.c1 {
  width: 100px;
}

.c1 label {
  width: 100%;
}


.c21 .name {
  width:        200px !important;
  margin-right: 4px   !important;
}


.c22 {
  width: 150px !important;
}

.c22 .time {
  width: 40px !important;
}

.c22 .id {
  display: none;
}


/* --- Step 3 --- */

#step_3 {
  display: none;
}







