body {
  padding: 1em;
}
.day {
  font-weight: bold;
  width: 6em;
  min-width: 6em;
  text-align: center;
}
.time-start, .time-end {
  width: 4em;
  min-width: 4em;
  text-align: center;
}
.staff {
  width: 10em;
  min-width: 10em;
}
td.staff:hover {
  background-color: #ff8;
  cursor: pointer;
  text-decoration: underline;
}
td.staff.empty::before {
  font-style: italic;
  color: #ddd;
}
.later td.staff.empty::before {
  content: "Samma som förra";
}
.first td.staff.empty::before {
  content: "Ingen vald";
}
td.staff.empty:hover::before {
  content: "Klicka för att välja";
  font-style: normal;
  color: black;
}
th.staff[data-class] {
  text-align: left;
}
tr th {
  line-height: 35px;
}
.add, .remove, .split {
  margin-left: 1em;
  margin: 0 0 0 0.5em;
  padding: 0.3em 0.5em 0.3em 0.5em;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.remove {
  background-color: #fcc;
}
tr td {
  padding: 0.4em 0.2em 0.4em 0.2em;
}
tr:nth-child(even) {
  background: #eee;
}
tr:nth-child(odd) {
  background: #fff;
}
tr:hover td {
  background: #ffc;
}
#show input {
  margin-left: 0.6em;
}
#show label {
  margin-left: 0.2em;
}
