body {
  min-width: 1350px;
  margin: 50px;
}

.cal_cont {
  border: none;
  min-width: 14em;
  min-height: 14em;
}

#control {
  float: left;
  min-height: 30em;
  width: 20em;
  background-color: #f7f7f7;
}

#calendars {
  overflow: auto;
}

.hl_outer_0 { background-color: hsl(10, 100%, 75%); }
.hl_outer_1 { background-color: hsl(30, 100%, 75%); }
.hl_outer_2 { background-color: hsl(50, 100%, 75%); }
.hl_outer_3 { background-color: hsl(170, 100%, 75%); }
.hl_outer_4 { background-color: hsl(190, 100%, 75%); }
.hl_outer_5 { background-color: hsl(210, 100%, 75%); }
.hl_outer_6 { background-color: hsl(230, 100%, 75%); }
.hl_outer_7 { background-color: hsl(250, 100%, 75%); }
.hl_outer_8 { background-color: hsl(270, 100%, 75%); }
.hl_outer_9 { background-color: hsl(290, 100%, 75%); }
.hl_outer_10 { background-color: hsl(310, 100%, 75%); }
.hl_outer_11 { background-color: hsl(330, 100%, 75%); }
.hl_outer_12 { background-color: hsl(350, 100%, 75%); }
