

.cr     {clear:      both   !important;}

#header {
  float: left;
}

#print {
  float: right;
}


/* Calendar */

#calendar_box {
  clear:            both;
  float:            left;
  margin:           0px;
  margin-right:     20px;
  padding:          0px; 
}

#calendar_info {
  clear:       both;
  margin-left: 35px;
}



/* Personnel */

#day_info {
  float:              left;
  overflow:           auto;
  width:              100%;
  height:             auto;
  margin:             0px;
  padding:            10px;
  background-color:   #f8f8f8;
  border:             1px solid #aaaaaa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;
  font-size:         0.9em;
}



.i_c1 {
  display:      inline-block;
  width:        115px;
  font-weight:  bold;
}
.i_c2 {
  display:      inline-block;
  white-space:  nowrap;
}

.i_c3 {
  display:      inline-block;
  width:        100px;
  padding-left: 10px;
  white-space:  nowrap;
}




/* Tandem list */

#tandem_info {
  display:            none;
  position:           relative;
  float:              left;
  clear:              both;
  width:              100%;
  height:             auto;
  margin:             0px;
  margin-top:         20px;
  padding:            0 15px 15px 15px;
  background-color:   #f8f8f8;
  border:             1px solid #aaaaaa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;
}


.tandem_head {
  float:              left;
  width:              100%;
  padding:            2px 10px;
  margin:             0px;
  margin-top:         15px;
  border:             1px solid #666;
  background-color:   #ddddff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;
}

.tandem_body {
  float:              left;
  clear:              both;
  width:              100%;
  padding:            10px;
  margin:             0px;
  border:             1px solid #666;
  border-top:         none;
  background-color:   #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;
}

.tandem_foot {
  float:              left;
  width:              100%;
  padding:            2px 10px;
  margin:             0px;
  border:             1px solid #666;
  border-top:         none;
  background-color:   #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;
}

.ch {
  float:        left;
  margin-right: 10px;
}
.c1h {
  font-weight:  bold;
  margin-right: 5px;
}

.c1 {
  width:       120px;
  font-weight: bold;
}
.c2 {
  clear: none;
}
.c3 {
  width:        90px;
  padding-left:  10px;
}





/* Popup */

#div_submit {
  float:      left;
  clear:      both;
  width:      100%;
  margin-top: 10px;
  text-align: center;
}





