/* ====================== */
/* ! Mobile Style Sheet   */
/* ====================== */

/* Smaller screens */
@media only screen and (max-width: 1023px) {
}



/* Mobile */
@media handheld, only screen and (max-width: 767px) {

  #tandem_info {
    padding:            0;
    background-color:   none;
    border:             none;
  }

}



