

.img {
  cursor: pointer;
  width:  15px;
  height: 15px;
}

.img_off {
  width:  15px;
  height: 15px;
}



/****************************************************/
/*   Step 1                                         */
/****************************************************/

#step_1 {
  float:              left;
  clear:              left;
  padding:            10px; 
  margin:             0px 10px 20px 0px; 
  border:             1px solid #aaaaaa;
  background:         #f8f8f8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;
}

#schema_varning {
  float:      left;
  color:      red;
}

/****************************************************/
/*   Step 2                                         */
/****************************************************/

#step_2 {
  display:            none;
  float:              left;
  padding:            10px; 
  margin:             0px 10px 20px 0px; 
  border:             1px solid #aaaaaa;
  background:         #f8f8f8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;
}


#booked_photographers {
  margin-top: 30px;
}

#booked_photographers_times {
  margin-top: 30px;
}


#delete_photographer_booking {
 width:       300px;
 height:      150px;
 left:        45%;
 top:         45%;
 margin-left: -150px;
 margin-top:  -75px;
}

#name_dropdown {
  width:      150px; 
  margin-top: 15px;
}



/****************************************************/
/*   Step 3                                         */
/****************************************************/

#step_3 {
  display:            none;
  float:              left;
  padding:            10px; 
  margin:             0px 10px 20px 0px; 
  border:             1px solid #aaaaaa;
  background:         #f8f8f8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;
}


#select_times_table {
  margin-top: 20px;
}

#times {
  float: left;
}

#start_dropdown {
  width: 70px !important; 
}

#stop_dropdown {
  width: 70px !important; 
}

#form_ovrigt {
  width: 150px !important; 
}


#times_submit {
  margin-top: 40px;
  margin-left: 55px;
}

