/* --- Approve/deny buttons --- */

.buttons {
  float: right;
}
.button {
 width: 100px;
}


/* --- Main list --- */

#header_div {
  float: left;
}


#news {
  clear:      both;
  margin-top: 20px;
  overflow:   auto;
}

.news_wrapper {
  margin-bottom:    20px;
  padding:          10px;
  background-color: #ffffff;
  border:           1px solid #aaaaaa;
}

.news_icon {
  margin:     0;
  padding:    0;
}

.news_h {
  padding:     0;
  margin:      0;
  font-size:   1.2em;
  font-weight: bold;
  color:       #2976C3; 
}

.news_info {
  color:      #333333;
	font-size:  0.8em;
	font-style: italic;
  padding:    0;
  margin:     0;
}

.news_text {
  padding:       0;
  margin:        0;
  margin-bottom: 10px;
}

.news_file {
  padding: 0;
  margin:  0;
}

.news_border {
  padding:       0;
  margin:        0;
  margin-bottom: 10px;
  border-top:    1px solid #eeeeee;
}


/* --- Result box --- */

#result p {
  clear:      both;
  float:      left;
  margin:     0 0 20px 0;
  padding:    10px;
  color:      green;
  border:     1px solid #999;
}
